# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Virtualenv
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.history/

# Build
dist/
build/

# PyInstaller
*.spec

# Logs
*.log

# LumiCap Exports
*.lcap